@list-striped-border-width: 0;
@list-striped-border: transparent;
@list-striped-background: @global-muted-background;
@list-bullet-icon-color: @global-primary-background;
@list-bullet-image: "../img/list-bullet.svg";

.hook-list-striped() when not (@list-striped-border-width = 0) {

  &:nth-of-type(odd) {
    border-top: @list-striped-border-width solid @list-striped-border;
    border-bottom: @list-striped-border-width solid @list-striped-border;
  }

}