@import 'https://fonts.googleapis.com/css?family=PT+Serif:400,400i|Montserrat:300,300i,400,400i,500,700';

@global-border-radius: 0;
@global-primary-font-family: inherit;
@global-primary-font-weight: inherit;
@global-primary-text-transform: inherit;
@global-primary-letter-spacing: inherit;
@global-primary-font-style: inherit;
@global-secondary-font-family: inherit;
@global-secondary-font-weight: inherit;
@global-secondary-text-transform: inherit;
@global-secondary-letter-spacing: inherit;
@global-secondary-font-style: inherit;
@global-font-family: Montserrat;
@global-font-size: 15px;
@global-line-height: 1.73;
@global-xxlarge-font-size: 42px;
@global-xlarge-font-size: 32px;
@global-large-font-size: 24px;
@global-medium-font-size: 16px;
@global-small-font-size: 11px;
@global-primary-font-family: Montserrat;
@global-primary-font-weight: 300;
@global-primary-text-transform: inherit;
@global-primary-letter-spacing: inherit;
@global-primary-font-style: inherit;
@global-secondary-font-family: Montserrat;
@global-secondary-font-weight: 400;
@global-secondary-text-transform: uppercase;
@global-secondary-letter-spacing: 1.8px;
@global-secondary-font-style: inherit;

@global-border: #EBEBED;
@global-border-width: 1px;
@global-border-radius: 2px;
@global-small-box-shadow: 2px 6px 15px rgba(41, 44, 61, 0.1);
@global-medium-box-shadow: 2px 15px 50px rgba(41, 44, 61, 0.1);
@global-large-box-shadow: 2px 21px 50px rgba(41, 44, 61, 0.15);
@global-xlarge-box-shadow: 2px 26px 60px rgba(41, 44, 61, 0.15);
@global-margin: 20px;
@global-small-margin: 10px;
@global-medium-margin: 40px;
@global-large-margin: 70px;
@global-xlarge-margin: 140px;
@global-gutter: 20px;
@global-small-gutter: 10px;
@global-medium-gutter: 40px;
@global-large-gutter: 70px;
@global-control-height: 40px;
@global-control-small-height: 30px;
@global-control-large-height: 55px;
@global-z-index: 1000;

@global-color: #4f5a80;
@global-emphasis-color: #314483;
@global-inverse-color: #fff;
@global-link-color: #5466c4;
@global-muted-color: #8d9ab1;
@global-link-hover-color: #7d9cec;
@global-background: #eef6fa;
@global-danger-background: #d95e60;
@global-muted-background: #e5edf4;
@global-primary-background: #5872b5;
@global-secondary-background: #37466c;
@global-success-background: #4bc78f;
@global-warning-background: #f7c77d;

@global-border: #dee6ed;
@global-large-box-shadow: 0 21px 50px 0 rgba(85, 95, 109, 0.15);
@global-medium-box-shadow: 0 15px 50px 0 rgba(85, 95, 109, 0.1);
@global-small-box-shadow: 0 6px 15px 0 rgba(85, 95, 109, 0.1);
@global-xlarge-box-shadow: 0 26px 60px 0 rgba(85, 95, 109, 0.15);
@alert-background: @global-inverse-color;
@button-default-background: @global-inverse-color;
@button-primary-hover-background: #46659e;
@button-primary-active-background: #405c90;
@button-primary-gradient: linear-gradient(135deg, #638fba, #46569e);
@button-primary-hover-gradient: linear-gradient(155deg, #638fba, #404e90);
@button-default-active-gradient: linear-gradient(135deg, #4972a5, @global-primary-background);
@button-primary-active-gradient: linear-gradient(185deg, #638fba, #404e90);
@button-secondary-active-gradient: linear-gradient(135deg, #4972a5, @global-primary-background);
@card-default-background: @global-inverse-color;
@card-primary-hover-background: #46659e;
@card-default-gradient: linear-gradient(135deg, @global-inverse-color, @global-background);
@card-primary-gradient: linear-gradient(135deg, #638fba, #46569e);
@card-secondary-gradient: linear-gradient(135deg, @global-secondary-background, #28324e);
@card-primary-hover-gradient: linear-gradient(155deg, #638fba, #404e90);
@dropdown-background: @global-inverse-color;
@form-focus-background: @global-inverse-color;
@icon-button-background: @global-inverse-color;
@navbar-dropdown-dropbar-margin-bottom: @navbar-dropdown-dropbar-margin-top;
@navbar-dropdown-background: @global-inverse-color;
@overlay-primary-gradient: linear-gradient(165deg, #46569e, #638fba);
@pagination-item-hover-background: @global-inverse-color;
@subnav-pill-item-hover-background: @global-inverse-color;